<h1>Answer</h1>
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
<table border="0">
    <tr>
        <td>
            <h4>{{this.content}}</h4>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{this.updateDate}}</td>
    </tr>
    <tr>
        <td>AuthorID: {{ this.authorid }}</td>
        <td></td>
        <td></td>
    </tr>
</table>
<center>
    <form method="post" action="/users/answer">
        <div class="form-group">
            {{!-- <label>Name</label> --}}
            <textarea class="form-group" rows="4" cols="50" placeholder="Enter Answer" name="quesContent"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>
    </form>