<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home</a>
    </li>
    <li class="breadcrumb-item active">Topics</li>
</ol>
<!-- /.row -->
{{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
{{#each topic}}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="/users/topic?id={{this.tid}}">
            <h4>{{this.content}}</h4>
        </a>
    </div>
</div>
{{/each}}