<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    {{#each items}}
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/users/answer?id={{this.qid}}">
                    <h3>
                        {{this.content}}
                    </h3>
                </a>
            </div> <!-- /.panel-heading -->
            <div class="panel-body">
            {{#each ../ans}}
            {{#compare ../this.qid  this.qid}}
                {{this.answer}}
                <br>
            {{/compare}}
            {{/each}}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    {{/each}}
</div>
<!-- /.row -->